* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1000px;
    background-color: grey;
}

/* nav section */
.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 75px;

    background-color: teal;
}
.nav-brand {
    display: flex;
    align-items: center;
}
.nav-brand a {
    background-color: maroon;
    border-top: 5px;
    border-right: 5px;
    border-bottom: 5px;
    border-left: 50px;
    border-style: solid;
    border-color:maroon;

    color: black;
    text-decoration: none;
    font-size: 26px;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-bar ul {
    display: flex;
    flex-wrap: wrap;
    
}

.nav-bar ul li {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.nav-bar ul li:last-child {
    margin-right: 10px;
}

.nav-bar ul li a {
    color: maroon;
    text-decoration: none;
    font-size: 20px;

}

.nav-bar ul li a:hover {
    background-color: rgba(220,174,150);
    border-radius: 3px;
}

/* header section */
.header-section {
    width: 1000px;
    height: 300px;
    position: relative;
}

.header-section article {
    width: 100%;
    height: 100%;
    background-image: url("../images/web2000__salt-lake-city_skyline_fall_-jay_dash_photography_img_0528.jpg") ;
    background-position: center;
    background-size: cover;
    border: 2px solid maroon;
}

.header-section h2 {
    position: absolute;
    right: 10%;
    bottom: 10%;
    background-color: maroon;
    background-size: 5px;

    border: 5px solid maroon;
}


/* about me section */
.about-container {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
}

.about-heading {
    
    width: 25%;
    height: 100%;
    display: flex;
    padding-right: 10px;
    font-size: 36px;

    background-color: teal;
    color: maroon;

}


.about-heading h3 {  
    display: flex;
    text-align: right;
    justify-content: right;
    height: 100%;
    width: 100%;

}

.about-text {
    width: 75%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 30px;
}

.about-text p {
    line-height: 1.5;

}

/* my work section */
.work-container {
    display: flex;
    flex-wrap: wrap;
   
    height: 350px;
}

.work-heading {
    width: 25%;
    height: 100%;
    display: flex;
    padding-right: 10px;
    font-size: 36px;

    background-color: teal;
    color:maroon;

}
.work-heading h3 {
    display: flex;
    text-align: right;
    justify-content: right;
    height: 75%;
    width: 100%;

}

.work-image {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.work-img-container {
    width: 100%;
    height: 60%;

    display: flex;
}

.work-div {
    width: 100%;
    height: 100%;
    position: relative;
}

.work-div a {

    width: 80%;
    height: 80%;
    margin: 0 auto;
    background-image: url("../images/run-buddy-c2.png");
    background-position:top;
    background-size:cover;

    display: flex;
    border: 2px solid maroon;
}

.work-div span {
    position: absolute;
    right: 10%;
    bottom: 30%;
    font-size: 18px;

    background-color: maroon;
    background-size: 5px;

    z-index:10 ;
    border: 5px solid maroon;
}

.work-img-container2 {
    width: 100%;
    height: 40%;

    display: flex;
}

.work-div2 {
    width: 100%;
    height: 100%;
}

.work-div2 a {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 75%;
    height: 60%;
    background-image: url("../images/coming-soon.png");
    background-position: center;
    background-size: cover;

    display: flex;
    border: 2px solid maroon;
}

/* contact me */
.contact-container {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
}

.contact-heading {
    width: 25%;
    height: 100%;
    display: flex;
    padding-right: 10px;
    font-size: 36px;

    background-color: teal;
    color: maroon;
}

.contact-heading h3 {
    display: flex;
    text-align: right;
    justify-content: right;
    height: 100%;
    width: 100%;
}

.contact-holder {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: center;
}

.contact-holder ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}
.contact-holder ul li {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    

    color: maroon;

    text-decoration: underline;
    text-decoration: teal;
}

.contact-holder ul li a {
    font-size: 14px;
    color: maroon;
    text-decoration-color: teal;
}

.contact-holder ul li a:last-child {
    font-size: 14px;
    padding-top: 20px;

    color: maroon;
}

/* media queries for smaller screens*/
@media screen and (max-width: 768px) {
    /* nav brand */
     .nav-container{
        justify-content: center;
    }
    .nav-brand {
        margin: 0 auto;
        width: 100%;
        justify-content:center;

    }
    .nav-brand a {
        background-color: maroon;
        border-top: 5px;
        border-right: 100px;
        border-bottom: 5px;
        border-left: 100px;
        border-style: solid;
        border-color:maroon;


        font-size: 24px;
    }

    /* work section */
    .work-container {
        height: 600px;
        display: flex;
        flex-wrap: wrap;
    }

    /* contact me */
    .contact-container {
        justify-content: center;
    }
    .contact-holder ul {
        flex-wrap: wrap;
        height: 50%;
    }
    .contact-holder ul li {
        width: 50%;
    }

    .contact-holder ul li a {
        width: 50%;
        font-size: 20px;
        text-align: center;
    }


}


